<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Wild Series</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="{{ path('program_index') }}" >Série</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{{ path('episode_index') }}" >Episode</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{{ path('actor_index') }}" >Acteur</a>
            </li>


        </ul>
        <div class="nav-item text-right">
            {% if app.user %}
                <p class="text-white">{{ app.user.email }}</p>
                <a href="{{ path('app_logout') }}" class="text-whitebtn btn btn-danger" > Se déconnecter</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="text-dark btn btn-secondary"> Se connecter</a>
            {% endif %}

        </div>
    </div>
</nav>